* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.file-actions-container {
  height: 3rem;
  background-color: #218c74;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
}

.page-action {
  margin: 0.5rem;
  color: #f1f2f6;
}

.cellprop-actions-container {
  height: 3rem;
  background-color: #ecf0f1;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.cellprop-actions-container>* {
  display: inline-block;
  margin-right: 1rem;
}

.cellprop-actions-container>select {
  border: none;
  border-radius: 2px;
  outline: none;
}

.font-family-props {
  padding: 0.2rem;
}

.font-size-props {
  padding: 0.2rem;
}

.formulabar-actions-container {
  height: 2rem;
  background-color: #ecf0f1;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.formulabar-actions-container>* {
  display: inline-block;
  margin-right: 0.7rem;
}

.formula-icon {}

.formula-bar {
  width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}

.address-bar {
  width: 5rem;
  text-align: center;
}

.formulabar-actions-container>input {
  border: none;
  outline: none;
  height: 70%;
}

.sheet-actions-container {
  height: 3rem;
  /* background-color: green; */
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 1rem;
  background-color: #ecf0f1;
}

.sheet-actions-container>* {
  display: inline-block;
}

.sheets-folder-container {
  height: 80%;
  width: calc(100vw - 2vw);
  display: flex;
  align-items: center;
}

.sheet-add-icon {
  width: 2vw;
}

.sheet-folder {
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 3px;
  font-size: 0.9rem;
}

.cells-gird-container {
  height: calc(100vh - 2rem - 3rem - 3rem - 3rem);
  position: relative;
  overflow: scroll;
  background-color: #ecf0f1;
}

.cells-container {
  position: absolute;
  /* width: 2rem; */
  /* height: 13rem; */
  top: 0;
  left: 2rem;
  /* background-color: rgb(205, 50, 184); */

}

.top-left-dummy-box {
  height: 2rem;
  width: 2rem;
  background-color: #747d8c;
  position: fixed;
  z-index: 1
}

.address-column-container {
  /* height: 10rem;
  width: 2rem; */
  /* background-color: #218c74; */
  position: sticky;
  top: 2rem;
  left: 0;
}

.address-row-container {
  /* height: 2rem; */
  /* background-color: #aee647; */
  display: flex;
  position: sticky;
  top: 0;
  left: 2rem;
}

.address-column {
  height: 2rem;
  width: 2rem;
  text-align: center;
  border: 1px solid #dfe4ea;
}

.address-row {
  height: 2rem;
  width: 5rem;
  border: 1px solid #dfe4ea;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  /* background-color: yellowgreen; */
  height: 2rem;
  width: 5rem;
  border: 1px solid #dfe4ea;
  outline: none;
}

.row-cell {
  display: flex;
}